
<pre>{{vm.active.href}}</pre>
<h2>Properties</h2>
<pre>{{vm.active.props | json}}</pre>
<h2>Links</h2>
<ul>
    <li ng-repeat="link in vm.active.links track by $index">
        <div>
            <a ng-click="vm.activate(link)">{{link.rel}}</a>
            {{link.href}}
            <div ng-if="link.params.length > 0">
                <div class="input-group query-group" ng-repeat="p in link.params track by $index">
                    <span class="input-group-addon query-label">{{p}}</span>
                    <input ng-model="link.paramValues[p]" class="form-control" />
                </div>
            </div>
        </div>
    </li>
</ul>
<h2>Items</h2>
<ul>
    <li ng-repeat="item in vm.active.items">
        <pre>{{item.props | json}}</pre>
    </li>
</ul>